body {
    font-family: Arial, sans-serif;
    margin: 10;
    padding: 10;
}

.container {
   
    background-color: #f0f0f0;
    margin:  auto;
    padding: 30px;
}
h1 {
    font-family: 'Roboto', sans-serif; 
    font-weight: 100;
    text-align: center;
    margin-top: 30px;
    font-size: 3rem;
    color: #272626;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); 
  }


input[type="text"] {
    width: 100%;
    padding: 10px;
   
    font-size: 16px;
}

.movie-grid {
    display: grid;
    padding :40px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    
}

#movieGrid img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
}

#movieGrid img:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}


#search_bar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding:10px;
   
}

